<h1>Escribe tu nueva contraseña</h1>
<form class="form-group w-50" id="newPassFom">
    <input type="hidden" name="token" value="{{token}}">
    <label class="form-label">Nueva contraseña</label>
    <input class="form-control" type="password" name="passwordNew" placeholder="Nueva contraseña" required>
    <label class="form-label">Confirma la contraseña</label>
    <input class="form-control" type="password" name="passwordConfirm" placeholder="Confirma la nueva contraseña"
        required>
    <br>
    <button class="btn btn-dark mt-3 w-50" type="submit">Restablecer la contraseña </button>
</form>

<script>
    const handleSubmit = function (evt) {
        evt.preventDefault()
        let passwordNew = document.querySelector('input[name="passwordNew"]').value
        let passwordConfirm = document.querySelector('input[name="passwordConfirm"]').value
        let token = document.querySelector('input[name="token"]').value

        fetch('/api/sessions/resetPassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                passwordNew,
                passwordConfirm,
                token
            })
        })
            .then(resp => resp.json())
            .then(resp => {
                if (resp.status === 'success') {
                    localStorage.setItem('cid', resp.cid)
                    localStorage.setItem('newToken', resp.newToken)
                    Toastify({
                        text: `${resp.message}`,
                        duration: 2000,
                        gravity: "top",
                        position: 'right',
                        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                        stopOnFocus: true,
                    }).showToast();setTimeout(function () {
                        window.location.reload()
                    }, 2500);
                } else if (resp.status === 'error') {
                    Toastify({
                        text: `${resp.message}`,
                        duration: 3000,
                        gravity: "top",
                        position: 'right',
                        backgroundColor: "linear-gradient(to right, #F40707, #FF9393)",
                        stopOnFocus: true,
                    }).showToast();
                }
            })
    }
    document.querySelector('#newPassFom').addEventListener('submit', handleSubmit)
</script>